* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* --------------- header --------------- */

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #48c5ce;
    text-align: center;
    padding: 10px;
    color: white;
}

.title {
    font-size: 26px;
}


/* --------------- Section - form --------------- */

section {
    padding: 20px;
    background-image: url(./images/people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: white;
}

input[type="submit"] {
    color: white;
    font-weight: bold;
    background-color: #48c5ce;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(./images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}


/* --------------- footer --------------- */

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
}